

ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1rem 2rem;
    background-color: #7c7a7d;
    color: rgb(240, 233, 233);
    list-style-type: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 96%;
    z-index: 999;
}


li {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}


li:hover {
    background-color: #a7b8f2e3;
    transition: background-color 0.3s ease;
}


a {
    text-decoration: none; /* Remove underlines from links */
    color: rgb(240, 233, 233);
    font-weight: bold; /* Make the text bold */
}


a:hover {
    color: #fff; 
}


.navbar {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    font-size: 1.2rem;
}